<div style="text-align:center;">


      <label for="exampleInputEmail1">Name</label>
      <div>
      <input type="name"  id="exampleInputEmail1" [(ngModel)]="std.name"   required>
</div>


      <label for="exampleInputEmail2">Email</label>
       <div >
      <input type="email"  id="exampleInputEmail2" [(ngModel)]="std.email"   required>
     </div>



      <label for="contact1">Contact</label>
       <div >
      <input type="Contact"  id="contact1" [(ngModel)]="std.contact"   required>
     </div>



   <div>
    <button type="submit" class="btn btn-primary" (click)="takeData()">Submit</button>

</div>
</div>
